---
import { ThemeSwitch } from './ThemeSwitch'
import { site, author, footer } from '@/config.json'
import { getAllPostsWordCount } from '@/utils/content'
import { RunningDays } from './RunningDays'
import DeleteScriptAttr from './DeleteScriptAttr.astro'
import Link from './Link.astro'

const sinceYear = new Date(footer.startTime).getFullYear()
const thisYear = new Date().getFullYear()
const copyDate = sinceYear === thisYear ? thisYear : `${sinceYear} - ${thisYear}`

const wordCount = await getAllPostsWordCount()

const wordCountStr = (wordCount / 1000).toFixed(1) + 'k'
---

<footer
  data-hide-print="true"
  class="relative max-w-[1100px] mx-auto z-1 border-t border-primary text-secondary py-6 text-sm"
>
  <div class="px-4 sm:px-8">
    <div class="relative mx-auto max-w-7xl">
      <div class="mt-12 space-y-3 text-center md:mt-6 md:text-left">
        <p>
          <span>&copy;{copyDate}
            <svg
              class="fill-red-500"
              style="display: inline-block;"
              viewBox="0 0 1024 1024"
              width="14"
              height="14"
              ><path
                d="M700.856275 155.542542c-74.768891 0-144.295384 72.696696-190.046381 127.260405C465.073224 228.226958 395.563104 155.542542 320.754305 155.542542c-134.789892 0-244.443291 105.780185-244.443291 235.799424 0 77.56968 39.277562 131.98808 70.844511 175.712931 91.752704 126.998439 322.464249 285.038872 332.234777 291.701618 9.410324 6.414083 20.424168 9.629311 31.401174 9.629311 11.005658 0 21.998013-3.215228 31.397081-9.629311 9.782807-6.662747 240.514819-164.703179 332.23887-291.701618 31.586392-43.723827 70.873164-98.143251 70.873164-175.712931C945.299567 261.321704 835.645145 155.542542 700.856275 155.542542L700.856275 155.542542zM700.856275 155.542542"
              ></path></svg
            >
            <Link href="/">{author.name}</Link>.</span><span
            ><span class="select-none whitespace-pre opacity-50"> <!-- -->|<!-- --> </span>
            <Link href="/feed.xml">
              <i class="iconfont icon-rss"></i>
              <span>RSS</span>
            </Link>
            <span class="select-none whitespace-pre opacity-50"> <!-- -->|<!-- --> </span>
            <Link href="/sitemap-index.xml">
              <i class="iconfont icon-map"></i>
              <span>站点地图</span>
            </Link>
            <span class="select-none whitespace-pre opacity-50 hidden md:inline">
              <!-- -->|<!-- -->
            </span></span
          >
          <span class="mt-3 block md:mt-0 md:inline">
            <RunningDays client:only="react" />
            <span class="select-none opacity-50">|</span>
            <span>总字数 {wordCountStr} 字</span>
          </span>
        </p>
        <div>
          <span class="my-3 block md:my-0 md:inline">
            Powered by
              <Link href="https://astro.build/">Astro</Link>
              & Designed by
              <Link href="https://github.com/lxchapu/astro-gyoza">Gyoza</Link>
              & 魔改
              <Link href="https://github.com/bmqy/astro.bmqy.net">bmqy</Link>
          </span>
          <span class="select-none whitespace-pre opacity-50 hidden md:inline">
            <!-- -->|<!-- -->
          </span>
          {site.icp && <Link href="https://beian.miit.gov.cn/">{site.icp}</Link>}
        </div>
        <div>
          <span class="notion-info my-3 block md:my-0 md:inline">
            由
            <Link href="https://github.com/LetTTGACO/elog">Elog</Link>
            &
            <Link href="https://www.notion.so/">Notion</Link>
            提供数据加持
          </span>
          <span class="select-none whitespace-pre opacity-50 hidden md:inline">
            <!-- -->|<!-- -->
          </span>
          <span class="cps-info my-3 block md:my-0 md:inline">
            <Link href="https://curl.qcloud.com/cbs3ZjSF">由腾讯云提供空间支持</Link>
            <span class="select-none whitespace-pre opacity-50 md:inline">
              <!-- -->|<!-- -->
            </span>
            <Link href="https://curl.qcloud.com/PMQKkO23">由腾讯云提供云存储加速服务</Link>
          </span>
        </div>
        <div>
          <span class="afr-info">
            为了更好地浏览本网站，您可以屏蔽本站广告^_^
          </span>
        </div>
      </div><div class="mt-6 block text-center md:absolute md:bottom-0 md:right-0 md:mt-0">
        <div class="relative inline-block">
          <div
            class="absolute top-[4px] z-[-1] size-[32px] rounded-full bg-base-100 shadow-[0_1px_2px_0_rgba(127.5,127.5,127.5,.2),_0_1px_3px_0_rgba(127.5,127.5,127.5,.1)] duration-200"
            style="left: 36px;"
          >
          </div>
          <ThemeSwitch client:only="react" />
        </div>
      </div>
    </div>
  </div>
</footer>
<DeleteScriptAttr />
